<div class="box-input col-md-6" [class.fixedSize]="fixedSize">
  <label [for]="inputId">
    {{ labelSignal() }}
    <span *ngIf="showMandatory" class="mandatory">*</span>
  </label>

  <div class="input-wrapper" [ngClass]="{ 'is-invalid': hasError }">
    <input
      #dp="bsDatepicker"
      id="{{ inputId }}"
      type="text"
      placeholder="{{ placeholder }}"
      class="form-control"
      bsDatepicker
      [triggers]="''"
      useUtc="false"
      [disabled]="isDisable"
      (bsValueChange)="onValueChange($event)"
      (input)="onInputChange($event)"
      (blur)="closeDatepicker($event, dp)"
      (focus)="openDatepicker(dp)"
      [(ngModel)]="value"
      (click)="openDatepicker(dp)"
      [bsConfig]="{
        dateInputFormat: 'DD/MM/YYYY',
        clearPosition: 'right',
        showWeekNumbers: bsConfigShowWeeksNumbers,
        minDate: minDate,
        maxDate: maxDate
      }"
    />

    <i
      id="{{ inputId }}-calendar-icon"
      class="icone-calendario bi bi-calendar2-check"
      (click)="openDatepicker(dp)"
      onkeyup=""
    ></i>
  </div>

  <div *ngIf="hasError" id="{{ inputId }}-error" class="feedback-invalido">
    {{ customErrorMsg || errorMsg }}
  </div>
</div>
