<!-- Versão Desktop - Tabela -->
<div class="table-container d-none d-md-block">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      @for (column of columns; track $index) {
        <th>
          {{ columnLabels[column] || column | titlecase }}
        </th>
      }
      @if (showActions) {
        <th class="actions-header">Ações</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (item of data; track $index) {
        <tr>
          @for (column of columns; track $index) {
            <td>
              @if (column === 'nome') {
                <ng-container>
                  <div class="titulo-wrapper">
                    @if (!item['disabled']) {
                      <span class="badge badge-class badge-ativo">
                        Ativo
                      </span>
                    }
                    <span class="titulo-texto">{{ item["name"] }}</span>
                  </div>
                </ng-container>
              } @else if (column === 'cor') {
                <ng-container>
                  <span [style]="{ color: item['color'] }">{{ item["color"] }}</span>
                </ng-container>
              } @else if (column === 'tipo') {
                {{ getTypeLabel(item) }}
              } @else if (columnTemplates[column]) {
                <ng-container>
                  <ng-container
                    *ngTemplateOutlet="
                  columnTemplates[column];
                  context: { value: item[column], item: item }
                "></ng-container>
                </ng-container>
              } @else if (notTruncateText(column, item) | foto) {
                <span [innerHTML]="notTruncateText(column, item) | foto"></span>
              } @else {
                {{ notTruncateText(column, item) }}
              }
            </td>
          }
          @if (actionTemplate) {
            <td class="actions-container"
            >
              <ng-container
                *ngTemplateOutlet="actionTemplate; context: { $implicit: item }"
              ></ng-container>
            </td>
          } @else if (showActions) {
            <td class="actions-container">
              <div class="d-flex justify-content-center flex-row">
                @if (showEdit && shouldShowEdit(item)) {
                  <button
                    id="btn-edit"
                    data-testid="btn-edit"
                    aria-label="Botão de editar"
                    class="btn btn-warning"
                    (click)="onEdit(item)"
                  >
                    <i class="bi bi-pencil-fill" aria-hidden="true"> </i>
                  </button>
                }
                @if (showDelete && shouldShowDelete(item)) {
                  <button
                    id="btn-delete"
                    data-testid="btn-delete"
                    aria-label="Botão de deletar"
                    class="btn btn-danger"
                    (click)="onDelete(item)"
                  >
                    <i class="bi bi-trash-fill" aria-hidden="true"></i>
                  </button>
                }
                @if (showKey) {
                  <button
                    (click)="onKey(item)"
                    class="btn btn-warning key"
                  >
                    <img [src]="chave" alt="Chave"/>
                  </button>
                }
                @if (showView || !shouldShowView(item)) {
                  <button
                    (click)="onView(item)"
                    class="btn btn-info"
                    [ngClass]="{ desativado: !getDesativadoProperty(item) }"
                    [disabled]="!getDesativadoProperty(item)"
                  >
                    <i class="bi bi-eye-fill"></i>
                  </button>
                }
                @if (showPrinter && shouldShowPrinter(item)) {
                  <button
                    id="btn-print"
                    data-testid="btn-print"
                    aria-label="Botão de imprimir"
                    class="btn btn-secondary"
                    (click)="onPrint(item)"
                    title="Imprimir"
                  >
                    <i class="bi bi-printer-fill" aria-hidden="true"></i>
                  </button>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="cards-container d-block d-md-none">
  @for (item of data; track $index; let i = $index) {
    <div class="card-item mb-3">
      <div class="card custom-card">
        <div class="card-header custom-header">
          @if (item['titulo']) {
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
              <span *ngIf="item['ativo']" class="badge me-2 badge-active">
                Ativo
              </span>
                <h6 class="mb-0 header-title">Nome: {{ item["titulo"] }}</h6>
              </div>
            </div>
          }

          @if (!item['titulo'] && columns.length > 0) {
            <div class="d-flex align-items-center justify-content-between">
              <h6 class="mb-0 header-title">Nome: {{ item[columns[0]] }}</h6>
            </div>
          }

          @if (showActions) {
            <div class="actions-menu">
              <button
                type="button"
                class="three-dots-btn"
                (click)="toggleDropdown(i)"
                [attr.aria-expanded]="isDropdownOpen(i)"
              >
                <i class="bi bi-three-dots-vertical"></i>
              </button>

              <div class="custom-dropdown-menu" [class.show]="isDropdownOpen(i)">
                @if (actionTemplate) {
                  <ng-container>
                    <div class="dropdown-item-wrapper">
                      <ng-container
                        *ngTemplateOutlet="
                    actionTemplate;
                    context: { $implicit: item }
                  "
                      ></ng-container>
                    </div>
                  </ng-container>
                }
                @if (!actionTemplate) {
                  <ng-container>
                    @if (showView || !shouldShowView(item)) {
                      <button
                        class="custom-dropdown-item"
                        (click)="onView(item); closeDropdown(i)"
                        [disabled]="!getDesativadoProperty(item)"
                      >
                        <i class="bi bi-eye-fill me-2"></i>
                        Visualizar
                      </button>
                    }

                    @if (showEdit && shouldShowEdit(item)) {
                      <button
                        class="custom-dropdown-item"
                        (click)="onEdit(item); closeDropdown(i)"
                      >
                        <i class="bi bi-pencil-fill me-2"></i>
                        Editar
                      </button>
                    }

                    @if (showKey) {
                      <button
                        class="custom-dropdown-item"
                        (click)="onKey(item); closeDropdown(i)"
                      >
                        <img
                          [src]="chave"
                          alt="Chave"
                          class="me-2"
                          style="width: 16px; height: 16px"
                        />
                        Chave
                      </button>
                    }

                    @if (showDelete && shouldShowDelete(item)) {
                      <div
                        class="dropdown-divider"
                      ></div>
                    }

                    @if (showDelete && shouldShowDelete(item)) {
                      <button
                        class="custom-dropdown-item text-danger"
                        (click)="onDelete(item); closeDropdown(i)"
                      >
                        <i class="bi bi-trash-fill me-2"></i>
                        Excluir
                      </button>
                    }
                  </ng-container>
                }
              </div>
            </div>
          }
        </div>

        <div class="card-body custom-body">
          <div class="row">
            @for (column of columns; track $index; let colIndex = $index) {
              <div class="col-12">
                @if (shouldShowFieldInCard(column, colIndex, item)) {
                  <div class="field-item mb-2">
                    <strong class="field-label"
                    >{{ columnLabels[column] || column | titlecase }}:</strong
                    >
                    <div class="field-value">
                      @if (column === 'cor') {
                        <span [style]="{ color: item['cor'] }">{{ item["cor"] }}</span>
                      } @else if (notTruncateText(column, item) | foto) {
                        <span [innerHTML]="notTruncateText(column, item) | foto"></span>
                      } @else {
                        {{ notTruncateText(column, item) }}
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>

@if (hasNoData) {
  <div class="no-data-message">
    <p class="text-center">
      {{ noDataMessage || "Sem dados registrados" }}
    </p>
  </div>
}

<div class="pagination-container">
  <pagination
    [totalItems]="totalItens"
    [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [boundaryLinks]="true"
    [directionLinks]="true"
    [maxSize]="5"
    (pageChanged)="onPageChange($event.page)"
    nextText="Próxima"
    [customPreviousTemplate]="prevTemplate"
    [customNextTemplate]="nextTemplate"
    [customFirstTemplate]="firstTemplate"
    [customLastTemplate]="lastTemplate"
    [classList]="'d-flex justify-content-end pt-1'"
    class="custom-pagination pagination justify-content-end pagination-green"
  ></pagination>
</div>

<ng-template #prevTemplate>
  <span class="d-flex align-items-center">
    <i class="bi bi-chevron-left"></i>
  </span>
</ng-template>

<ng-template #nextTemplate>
  <span class="d-flex align-items-center">
    <i class="bi bi-chevron-right"></i>
  </span>
</ng-template>

<ng-template #firstTemplate>
  <span class="d-flex align-items-center">
    <i class="bi bi-chevron-double-left"></i>
  </span>
</ng-template>

<ng-template #lastTemplate>
  <span class="d-flex align-items-center">
    <i class="bi bi-chevron-double-right"></i>
  </span>
</ng-template>
