body.dark-theme {
  --background-alt: #242424;
}

.titulo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titulo-texto {
  text-align: center;
}

.badge-ativo {
  position: absolute;
  left: calc(50% - 2.5rem);
  transform: translateX(-100%);
}

.table-container {
  text-align: center;
  justify-content: flex-end;
  background-color: var(--background-secondary-color);
  overflow: auto;
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.4375rem;

  .transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0 auto;
    padding: 0.625rem;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.25rem;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      gap: 0.4375rem;

      @media (max-width: 62rem) {
        justify-content: center;
        width: 100%;
      }
    }

    span {
      color: var(--text-primary-color);
      font-size: 14.4px;
    }

    @media (max-width: 62rem) {
      justify-content: center;
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.3125rem;

    th,
    td {
      border: none;
      text-align: center;
      background-color: transparent;
      vertical-align: middle;
      color: var(--text-primary-color);
      padding: 0.625rem;
      font-size: 14.4px;
    }

    th.actions-header {
      width: 150px;
    }

    tbody {
      tr {
        height: 3.125rem;

        &:nth-child(odd) td {
          background-color: var(--background-secondary-color);
        }

        &:nth-child(even) td {
          background-color: var(--background-alt);
        }

        .actions-container {
          padding: 0;
          height: 100%;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            color: var(--white-color);
            width: 2rem;
            height: 2rem;
            border-radius: 3px;
            transition: 0.2s;
            font-size: 14.4px;

            &:hover {
              transform: scale(1.1);
            }
          }

          .btn-warning {
            background-color: var(--warning-color);
          }

          .btn-danger {
            background-color: var(--danger-color);
            margin-left: 0.5rem;
          }

          .btn-send {
            background-color: var(--success-color);
          }

          .btn-secondary {
            background-color: var(--secondary-color);
            margin-left: 0.5rem;

            &:hover {
              filter: brightness(0.9);
            }

            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            }
          }

          .btn-info {
            background-color: var(--positive-color);
            margin-left: 0.5rem;

            &:hover {
              filter: brightness(0.9);
            }
          }

          .key {
            margin-left: 0.5rem;
          }

          .desativado {
            background-color: var(--text-gray-color) !important;
            opacity: 0.5;
          }
        }
      }
    }

    .badge-class {
      padding: 0.5rem 0.5rem;
      background-color: var(--success-color);
      border-radius: 2rem;
      letter-spacing: 0.1rem;
    }

    @media (max-width: 62rem) {
      table-layout: unset;

      th.actions-header {
        width: 120px;
      }

      .actions-container button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 12px;
      }
    }
  }

}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  @media(min-width: 767px) {
    display: none;
  }

  .card-item {
    outline: none;
    border: none;
  }
  .card {
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    outline: 1px solid var(--primary-color);

    &__header {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 20px;
      outline: none;
      z-index: 5;

      .badge {
        padding: 0.5rem 0.5rem;
        background-color: var(--success-color);
        border-radius: 2rem;
        letter-spacing: 0.1rem;
      }

      .header-title {
        color: var(--white-color);
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &--value {
          color: var(--white-color);
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 25px;
      background-color: var(--white-color);
      z-index: 5;

      .field-item {
        display: flex;
        gap: 10px;

        &__label {
          color: var(--text-color, #3A3A3A);
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        &__value {
          color: var(--text-color, #3A3A3A);
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .actions-menu {
        display: flex;
        align-items: center;

        .dropdown-btn {
          display: flex;
          width: 38px;
          height: 38px;
          padding: 10px;
          justify-content: center;
          gap: 10px;
          background: var(--primary-color);
          color: var(--white-color);
          border-radius: 50%;
          transition: all 600ms ease-in-out;
          z-index: 2;

          &.is-open {
            background-color: rgba(185, 5, 4, 0.6);
          }

          i {
            font-size: 14px;
          }
        }

        .custom-dropdown-menu {
          position: absolute;
          content: '';
          display: flex;
          opacity: 0;
          visibility: hidden;
          width: fit-content;
          transform: translateX(-40%);
          transition: all 500ms ease-in-out;
          z-index: 1;

          &.show {
            visibility: visible;
            opacity: 1;
            transform: translateX(-100%);
          }

          .custom-dropdown-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            color: var(--white-color);
            padding: 10px;
            transition: all 500ms ease-in-out;
            font-size: 14px;

            &:hover {
              transform: scale(1.1);
            }

            &.btn-warning {
              background-color: var(--warning-color);
              margin-right: 0.5rem;

            }

            &.btn-danger {
              background-color: var(--danger-color);
              margin-right: 0.5rem;
            }

            &.btn-send {
              background-color: var(--success-color);
            }

            &.btn-secondary {
              background-color: var(--secondary-color);
              margin-left: 0.5rem;

              &:hover {
                filter: brightness(0.9);
              }

              &:focus {
                box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
              }
            }

            &.btn-info {
              background-color: var(--positive-color);
              margin-right: 0.5rem;

              &:hover {
                filter: brightness(0.9);
              }
            }
          }
        }
      }
    }
  }
}

.no-data-message {
  margin-top: 2rem;

  &__text {
    color: var(--text-primary-color);
  }
}

pagination::ng-deep {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  @media (min-width: 767px) {
    justify-content: flex-end;
    margin-top: 20px;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 1rem;


    @media (min-width: 767px) {
      gap: 0;
    }

    .page-item {
      list-style: none;


      a {
        text-decoration: none;
        color: #000;
        padding: 0.3125rem 0.625rem;
        border-radius: 0.1875rem;
        transition: 0.3s ease;
        background: transparent;
        outline: none;
        border: none;
        font-size: 16px;


        &:focus {
          box-shadow: none;
        }

        @media(min-width: 767px) {
          color: var(--primary-color);
        }

        i {
          font-size: inherit;
        }
      }

      &.active a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 44px;
        height: 44px;
        padding: 14px 17px;
        border-color: var(--primary-color);
        border-radius: 50%;
        background-color: var(--primary-color);
        color: var(--white-color);
        flex-shrink: 0;
        font-size: 20px;

        @media(min-width: 767px) {
          padding: 4px 8px;
          border-radius: 0;
        }

        &:hover {
          filter: brightness(0.9);
        }

        i {
          font-size: inherit;
        }
      }
    }
  }
}

.icons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 62rem) {
    gap: 0.25rem;
  }
}

.key {
  margin-right: 0.5rem;
}

.btn {
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:active {
    transform: scale(0.95);
  }

  i {
    font-size: inherit;
  }
}
