body.dark-theme {
  --background-alt: #242424;
}

.titulo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.titulo-texto {
  text-align: center;
}

.badge-ativo {
  position: absolute;
  left: calc(50% - 2.5rem);
  transform: translateX(-100%);
}

.table-container {
  text-align: center;
  justify-content: flex-end;
  background-color: var(--background-secondary-color);
  overflow: auto;
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.4375rem;

  .transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0 auto;
    padding: 0.625rem;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 1.25rem;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      gap: 0.4375rem;

      @media (max-width: 62rem) {
        justify-content: center;
        width: 100%;
      }
    }

    span {
      color: var(--text-primary-color);
      font-size: 14.4px;
    }

    @media (max-width: 62rem) {
      justify-content: center;
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.3125rem;

    th,
    td {
      border: none;
      text-align: center;
      background-color: transparent;
      vertical-align: middle;
      color: var(--text-primary-color);
      padding: 0.625rem;
      font-size: 14.4px;
    }

    th.actions-header {
      width: 150px;
    }

    tbody {
      tr {
        height: 3.125rem;

        &:nth-child(odd) td {
          background-color: var(--background-secondary-color);
        }

        &:nth-child(even) td {
          background-color: var(--background-alt);
        }

        .actions-container {
          padding: 0;
          height: 100%;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            color: var(--white-color);
            width: 2rem;
            height: 2rem;
            border-radius: 3px;
            transition: 0.2s;
            font-size: 14.4px;

            &:hover {
              transform: scale(1.1);
            }
          }

          .btn-warning {
            background-color: var(--warning-color);
          }

          .btn-danger {
            background-color: var(--danger-color);
            margin-left: 0.5rem;
          }

          .btn-send {
            background-color: var(--success-color);
          }

          .btn-secondary {
            background-color: var(--secondary-color);
            margin-left: 0.5rem;

            &:hover {
              filter: brightness(0.9);
            }

            &:focus {
              box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            }
          }

          .btn-info {
            background-color: var(--positive-color);
            margin-left: 0.5rem;

            &:hover {
              filter: brightness(0.9);
            }
          }

          .key {
            margin-left: 0.5rem;
          }

          .desativado {
            background-color: var(--text-gray-color) !important;
            opacity: 0.5;
          }
        }
      }
    }

    .badge-class {
      padding: 0.5rem 0.5rem;
      background-color: var(--primary-color);
      border-radius: 2rem;
    }

    @media (max-width: 62rem) {
      table-layout: unset;

      th.actions-header {
        width: 120px;
      }

      .actions-container button {
        width: 1.5rem;
        height: 1.5rem;
        font-size: 12px;
      }
    }
  }

  .no-data-message {
    margin-top: 2rem;
  }
}

pagination::ng-deep {
  .pagination {
    .page-item {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--primary-color);
        padding: 0.3125rem 0.625rem;
        border-radius: 0.1875rem;
        transition: 0.3s ease;

        &:focus {
          box-shadow: none;
        }
      }

      &.active a {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        color: var(--white-color);

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.icons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 62rem) {
    gap: 0.25rem;
  }
}

.key {
  margin-right: 0.5rem;
}

.btn {
  border: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &:active {
    transform: scale(0.95);
  }

  i {
    font-size: inherit;
  }
}
