<div>

  <span
    *ngIf="showTitle"
    id="{{ uniqueId }}-header-title"
    class="desktop-title fw-semibold"
  >
    {{ title }}
  </span>

  <div
    *ngIf="showTitle && mobileTitle"
    id="{{ uniqueId }}-mobile-header-title"
    class="mobile-title fw-semibold"
  >
    <span>{{ mobileTitle }}</span>

    <!-- Para URLs de imagem -->
    <img
      *ngIf="mobileTitleIcon && isIconUrl"
      [src]="mobileTitleIcon"
      class="mobile-title-icon-img"
      alt="Ícone"
    />

    <!-- Para código SVG -->
    <div
      *ngIf="mobileTitleIcon && !isIconUrl"
      class="mobile-title-icon"
      [innerHTML]="sanitizedIcon"
    ></div>
  </div>

  <button
    *ngIf="addButton"
    id="{{ uniqueId }}-add-button"
    (click)="onAddAction()"
    title="{{ buttonTitle }}"
  >
  </button>

  <button
    *ngIf="configButton"
    id="{{ uniqueId }}-config-button"
    (click)="onConfigAction()"
    title="Configurar"
  >
  </button>
</div>
