<div>
  @if (showTitle) {
    <span
      id="{{ uniqueId }}-header-title"
      class="desktop-title fw-semibold">
      {{ title }}
    </span>
  }

  @if (showTitle && mobileTitle) {
    <div
      id="{{ uniqueId }}-mobile-header-title"
      class="mobile-title fw-semibold"
    >
      <span>{{ mobileTitle }}</span>

      <!-- Para URLs de imagem -->

      @if (mobileTitleIcon && isIconUrl) {
        <img
          [src]="mobileTitleIcon"
          class="mobile-title-icon-img"
          alt="Ícone"
        />
      }

      <!-- Para código SVG -->
      @if (mobileTitleIcon && !isIconUrl) {
        <div
          class="mobile-title-icon"
          [innerHTML]="sanitizedIcon"
        ></div>
      }
    </div>
  }


  @if (addButton) {
    <button
      id="{{ uniqueId }}-add-button"
      (click)="onAddAction()"
      title="{{ buttonTitle }}"
    >
      <i class="bi bi-plus"></i>
    </button>
  }

  @if (configButton) {
    <button
      id="{{ uniqueId }}-config-button"
      (click)="onConfigAction()"
      title="Configurar"
    >
    </button>
  }
</div>
