<div [class.fixedSize]="fixedSize" [ngClass]="variant">
  <label [attr.for]="inputId" class="input-label">
    {{ labelSignal() }}
    @if (showMandatory) {
      <span class="mandatory">*</span>
    }
  </label>
  <div
    class="input-wrapper"
    [class]="{
      'custom-input': icon,
      'is-focused': focus,
      'is-valid': isValid(),
      'is-invalid': isInvalid() && focus,
      'is-read-only': readonly
    }"
  >
    <span
      class="input-group-text icon"
      id="{{ inputId }}-icon-addon"
      *ngIf="icon"
    >
      <i class="bi bi-person-fill custom-person"></i>
    </span>
    <input
      currencyMask
      id="{{ inputId }}"
      class="input clear input-money"
      [class.is-read-only]="readonly"
      [type]="type"
      (blur)="onInputBlur()"
      (ngModelChange)="onCurrencyChange($event)"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [disabled]="isDisable"
      [readOnly]="readonly"
    />
  </div>
  @if (errorMessages()?.length) {
    <ul class="error-messages">
      @for (msg of errorMessages(); track $index) {
        <li
          class="error-message"
          [class]="{ 'is-valid': isValid(), 'is-invalid': isInvalid()}"
        >
          <i class="bi bi-x-circle-fill"></i>
          <p [innerHTML]="msg"></p>
        </li>
      }
    </ul>
  }
</div>
