<div class="sidenav-placeholder {{ isActiveBar ? 'isActive' : '' }}"></div>

<div
  class="shadow sidenav flex-shrink-0 {{ isActiveBar ? 'isActive' : '' }}"
>
  <zen-sidenav-header></zen-sidenav-header>

  <ul class="list-unstyled ps-0"
      [ngClass]="{ 'collapsed': !isActiveBar }"
  >
    @for (item of navData; track $index) {
      <zen-sidenav-menu-item
        [isActiveBar]="isActiveBar"
        [label]="item.label"
        [path]="item.path"
        [classIcon]="item.classIcon"
        [menuItems]="item.items ? item.items : null"
      />
    }
  </ul>

  <div
    class="wrapper-btn-logout"
    [ngClass]="{ 'collapsed': !isActiveBar }"
  >
    <button
      class="btn-logout"
      (click)="logout()"
    >
      <div
        class="logout-info"
        [class.sidenav-collapsed]="!isActiveBar"
      >
        <i class="bi bi-wallet wallet" [class.sidenav-collapsed]="!isActiveBar"></i>
        <div class="status" [class.sidenav-collapsed]="!isActiveBar">
          <h4 class="status__title">Saúde Financeira</h4>
          <span class="status__description">Excelente</span>
        </div>
      </div>

      <i class="bi bi-escape logout" title="Sair"></i>
    </button>
  </div>
</div>
