@use 'variables' as *;
@use 'mixins' as *;
@use "sass:color";

$success-color: #188150;

.sidenav-placeholder {
  width: 0;

  flex-shrink: 0;
  height: 100%;
  transition: width 300ms ease;

  &.is-active {
    width: 250px;
  }

  @include up($bp-medium) {
    width: 80px;

    &.is-active {
      width: 300px;
    }
  }
}

.sidenav {
  position: fixed;
  height: 100vh;
  background-color: var(--background-secondary-color);
  width: 0;

  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  transition: width 300ms ease;
  left: 0;
  top: 0;

  &.is-active {
    width: 250px;
    padding: 24px;
  }

  @include up($bp-medium) {
    width: 80px;
    padding: 24px 10px;

    &.is-active {
      width: 300px;
      padding: 24px;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: color.adjust(gray, $lightness: 10%);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: color.adjust(gray, $lightness: 12%);
  }

  .list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 26px 0;

    &.is-collapsed {
      display: none;

      @include up($bp-medium) {
        display: flex;
      }
    }
  }

  .wrapper-btn-logout {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 -2px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;

    &.is-collapsed {
      display: none;

      @include up($bp-medium) {
        display: flex;
      }
    }


    .btn-logout {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;

      background: transparent;
      border: none;

      &.is-collapsed {
        display: block;
      }

      .logout-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        color: var(--text-secondary-color);
        font-weight: 500;
        transition: 0.3s;
        animation: all 3ms ease-in-out;

        &.is-collapsed {
          display: none;

          @include up($bp-medium) {
            display: flex;
          }
        }
      }

      i {
        font-size: 20px;

        &.wallet {
          font-size: 12px;
          background: color.adjust($success-color, $lightness: 50%);
          border-radius: 5rem;
          padding: 6px 10px;
          color: var(--success-color);

          &.is-collapsed {
            display: none;
          }

        @include up($bp-medium) {
            font-size: 14px !important;
          }

        @include up($bp-huge) {
            font-size: 1vw !important;
          }
        }

        &.logout {
          color: var(--text-secondary-color);
          transition: transform 0.5s, color 0.3s;

          &:hover {
            color: var(--text-primary-color);
            transform: rotate(-45deg);
          }
        }
      }

      .status {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: -10px;

        &.is-collapsed {
          display: none;
        }

        &__title {
          font-size: 12px;
          font-weight: 600;
          color: var(--text-primary-color);
          margin: 0;

        @include up($bp-medium) {
            font-size: 14px !important;
          }

        @include up($bp-huge) {
            font-size: 1vw !important;
          }
        }

        &__description {
          font-size: 10px;

        @include up($bp-medium) {
            font-size: 12px !important;
          }

        @include up($bp-huge) {
            font-size: 1.1vw !important;
          }
        }
      }
    }
  }

  .button-bar {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    background-color: transparent;
    font-size: 1.7rem;

    &:hover {
      filter: brightness(0.9);
    }
  }
}


