<zen-page-container id="page-container-expenses">
  <zen-header-table
    title="Filtros"
    [mobileTitle]="'Despesas'"
    [mobileTitleIcon]="imgExpenses"
    (add)="openAddModal()"
    [uniqueId]="'expenses'"
  />

  <zen-filter
    [filterId]="'filter-expensesId'"
    [isLoadingFilter]="isLoadingFilter"
    [isLoadingClearFilter]="isLoadingClearFilter"
    (filter)="onSearch()"
    (clearFilter)="onClearFilter()"
  >
    <form id="form-filter-expenses" action="javascript:void(0)" [formGroup]="filterForm">
      <zen-input
        id="input-description"
        label="Descrição:"
        placeholder="Digite a descrição"
        formControlName="description"
        [inputId]="'input-description'"
      />

      <zen-select-input
        id="input-category"
        label="Categoria:"
        placeholder="Selecione uma categoria"
        formControlName="category"
        [options]="categoriesOptions"
        [dropdownId]="'select-category'"/>

      <zen-select-input
        id="select-type"
        label="Tipo:"
        placeholder="Selecione um tipo"
        formControlName="type"
        [options]="typesOptions"
        [dropdownId]="'select-type'"
      />


      <zen-select-input
        id="select-has-debt"
        label="Parcelado:"
        placeholder="Selecione um valor"
        formControlName="hasDebt"
        [options]="hasDebtOptions"
        [dropdownId]="'select-has-debt'"
      />

      <zen-data-input
        id="input-date"
        label="Data:"
        placeholder="Informe uma data"
        formControlName="date"
        [withTimepicker]="false"
        [inputId]="'input-date'"
      />
    </form>
  </zen-filter>

  <zen-table
    id="table-expenses"
    [columns]="expenseColumn"
    [columnLabels]="expenseColumnsLabel"
    [enumLabels]="enumLabels"
    [data]="expensesData"
    (edit)="openEditModal($event)"
    (delete)="openDeleteModal($event)"
    (pageChange)="onPageChange($event)"
    [totalItens]="totalItens"
  />
</zen-page-container>

<ng-template #formAddTemplate>
  <zen-add-category-form id="form-add-expense" (changeData)="changeData()"/>
</ng-template>

<!--<ng-template #formEditTemplate>-->
<!--  <zen-edit-category-form id="form-edit-expense" [dataCategory]="dataExpense" (changeData)="changeData()"/>-->
<!--</ng-template>-->

<!--<ng-template #deleteTemplate>-->
<!--  <zen-delete-template id="template-delete-expense" [dataCategory]="dataExpense" (changeData)="changeData()"/>-->
<!--</ng-template>-->
