@use 'variables' as *;
@use "sass:color";

.main-layout {
  display: flex;
  height: auto;

  .backdrop {
    display: none;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.185);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
  }
}


.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  display: flex;
  gap: 10px;
  position: relative;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  color: var(--text-secondary-color);
  background-color: transparent;

  i {
    color: var(--text-secondary-color);
  }

  &.active {
    span,
    i {
      color: var(--primary-color);
    }
  }
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  position: absolute;
  left: 13em;
  transform: rotate(90deg);
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), 0.85);

  i {
    color: rgba(var(--bs-emphasis-color-rgb), 0.85);
  }
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(-90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.scrollarea {
  overflow-y: auto;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-primary-color);
  transition: width var(--transition-time) ease;


  section {
    padding: 0 54px;
  }
}


@media (max-width: 1281px) {
  h6 {
    font-size: 16px !important;
  }

  .menuNavbar {
    inset: 96px 28px auto auto;
    width: 265px !important;
    height: 244px !important;

    a {
      font-size: 13px !important;
    }
  }

  .dark-mode {
    span {
      font-size: 13px !important;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 4px !important;
      left: 8px !important;
      right: -2px !important;
      bottom: 0;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 12px !important;
      width: 12px !important;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
    }
  }

}

@media screen and (max-width: 1200px) {
  section {
    padding: 0 20px !important;
  }
}

@media (max-width: 992px) {
  .main-layout .backdrop {
    display: none;

    &.backdropActive {
      display: block;
    }
  }

  .sidenav-placeholder {
    display: none;
  }


  main {
    width: 100%;
  }

}
