@use 'variables' as *;

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 30px;
  margin-top: 3.5rem;

  .extras {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .connected {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

    }
  }

  .btn-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 2rem;
  }

  .divider {
    width: 100%;
    display: flex;
    align-items: center; // centraliza verticalmente
    text-align: center;

    &__divider-item {
      &--first,
      &--last {
        flex: 1;
        height: 1px;
        background-color: $textGrayColor;
      }

      &--text {
        color: $textGrayColor;
        font-size: 14px;
        margin: 0 12px;
        white-space: nowrap;
      }
    }
  }

}
