<zen-unauthenticated-common-layout
  [formGroup]="loginForm"
  [isLoading]="isLoading()"
  [primaryBtn]="primaryBtn"
  [secondaryBtn]="secondaryBtn"
  (submitBtn)="loginSubmit()"
>
  <div class="form-content" form-content>
    <zen-input
      id="input-email"
      label="Email"
      placeholder="'Digite seu email"
      type="email"
      formControlName="email"
      [label]="'Email'"
      [placeholder]="'Insira seu email'"
      [required]="true"
      [errorMessages]="getErrorMessages('email')"

    ></zen-input>

    <zen-input-password
      id="input-password"
      formControlName="password"
      [ariaLabel]="'Campo para inserir a senha'"
      [label]="'Senha'"
      [placeholder]="'********'"
      [required]="true"
      [errorMessages]="getErrorMessages('password')"
      [isValid]="isValid('password')"
      [isInvalid]="isInvalid('password')"
    ></zen-input-password>

    <div class="extras">
      <div class="connected">
        <input class="connected__input" type="checkbox" id="keep-connected" (click)="keepConnected()" (keydown)="keepConnected()"/>
        <label class="connected__label" for="keep-connected">Manter Conectado</label>
      </div>
      <a routerLink="/auth/recuperar-senha" class="forget-password">Esqueceu sua senha?</a>
    </div>
  </div>
</zen-unauthenticated-common-layout>

