<zen-unauthenticated-common-layout
  [formGroup]="loginForm"
  [isLoading]="isLoading()"
  [primaryBtn]="primaryBtn"
  [secondaryBtn]="secondaryBtn"
  (submitBtn)="loginSubmit()"
>
  <div class="form-content" form-content>
    <zen-input-text
      [ariaLabel]="'Campo para inserir o email'"
      [label]="'Email'"
      [placeholder]="'Insira seu email'"
      [required]="true"
      [errorMessages]="getErrorMessages('email')"
      [isValid]="isValid('email')"
      [isInvalid]="isInvalid('email')"
      formControlName="email"
      role="textbox"
      type="email"
    ></zen-input-text>

    <zen-input-password
      [ariaLabel]="'Campo para inserir a senha'"
      [label]="'Senha'"
      [placeholder]="'********'"
      [required]="true"
      [errorMessages]="getErrorMessages('password')"
      [isValid]="isValid('password')"
      [isInvalid]="isInvalid('password')"
      formControlName="password"
      role="textbox"
    ></zen-input-password>

    <div class="extras">
      <div class="connected">
        <input type="checkbox" id="connected" (click)="keepConnected()" (keydown)="keepConnected()"/>
        <label for="connected">Manter Conectado</label>
      </div>
      <a routerLink="/auth/recuperar-senha" class="forget-password">Esqueceu sua senha?</a>
    </div>
  </div>
</zen-unauthenticated-common-layout>

