@use 'variables' as *;

.form-content {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;


  .extras {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;

    .connected {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;

    }
  }
}
