.expense-view-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__text {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0.6px;

    &--answer {
      font-weight: normal;
    }

    .total-amount {
      font-size: 16px;
      font-weight: 500;
    }
  }

  /* Wrapper opcional para scroll futuro */
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
  }



  .table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: auto; /* 🔥 ESSENCIAL */
    border-radius: 10px;

    /* HEADER */
    &__head {
      tr th {
        background-color: var(--primary-color) !important;
        color: var(--white-color); // Garante legibilidade
        padding: 12px;
        font-weight: 500;
        letter-spacing: 0.8px;
        border-bottom: 1px solid var(--border-color);
        text-align: center;

        &.dueDate-cell,
        &.paymentDate-cell {
          width: 100px;           /* Ajuste conforme necessário */
          white-space: normal;    /* Permite que o texto quebre linhas */
          line-height: 1.2;       /* Melhora o espaçamento entre as linhas */
          text-align: center;
          display: table-cell;    /* Garante o comportamento de célula */
          vertical-align: middle;
        }

        &.actions-header {
          vertical-align:middle;
        }
      }
    }

    &__body {
      background-color: var(--background-secondary-color);

      tr td {
        background: var(--background-secondary-color) !important;
        padding: 12px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid var(--border-color);
        color: var(--text-primary-color); // Use sua variável de cor de texto
      }

      tr:hover {
        background-color: var(--active-background-color) !important;
      }

      // Remove a borda da última linha para ficar mais limpo
      tr:last-child td {
        border-bottom: none;
      }
    }

    /* CÉLULAS (th e td) */
    &__column {
      padding: 0.75rem;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .actions-header,
  .actions-container {
    width: 20%;
    text-align: center;
    white-space: nowrap;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      color: var(--white-color);
      width: 2rem;
      height: 2rem;
      border-radius: 3px;
      transition: 0.2s;
      font-size: 14.4px;

      &:hover {
        transform: scale(1.1);
      }
    }

    .btn-warning {
      background-color: var(--warning-color);
    }

    .btn-danger {
      background-color: var(--danger-color);
    }

    .btn-send {
      background-color: var(--success-color);
    }

    .btn-secondary {
      background-color: var(--secondary-color);
      margin-left: 0.5rem;

      &:hover {
        filter: brightness(0.9);
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
      }
    }

    .btn-info {
      background-color: var(--info-color);
      margin-left: 0.5rem;

      &:hover {
        filter: brightness(0.9);
      }
    }

    .key {
      margin-left: 0.5rem;
    }

    .disabled {
      background-color: var(--text-gray-color) !important;
      opacity: 0.5;
    }
  }
}
