<div class="expense-view-wrapper">
  <p class="expense-view-wrapper__text">Categoria: <span class="expense-view-wrapper__text--answer">{{ dataExpense().categoryName }}</span></p>
  <p class="expense-view-wrapper__text">Tipo: <span class="expense-view-wrapper__text--answer">{{ type }}</span></p>
  <p class="expense-view-wrapper__text">Data de Registro: <span class="expense-view-wrapper__text--answer">{{ dataExpense().date | date: 'longDate' }}</span></p>
  <p class="expense-view-wrapper__text">Valor total: <span class="expense-view-wrapper__text--answer total-amount">{{ dataExpense().amount | currency: 'BRL' }}</span></p>
  @if (dataExpense().hasDebt) {
    <table class="table">
      <thead class="table__head">
        <tr class="table__row">
          @for (column of columns; track $index) {
            <th class="table__column column-{{ column }}">
              {{ columnsLabel[column] }}
            </th>
          }
          @if (showActions) {
            <th class="actions-header">Ações</th>
          }
        </tr>
      </thead>
      <tbody class="table__body">
      @for (installment of installments; track installment.dueDate) {
        <tr class="table__row">
          @for(column of columns; track $index) {
            <td class="table__column column-{{ column }}">
              @if (column === 'dueDate' || column === 'paymentDate') {
                <span>
                  {{ (getDateValue(installment[column]) | date: 'shortDate') || '-'}}
                </span>
              } @else if(column === 'amount' || column === 'amountPaid') {
                <span>
                  {{ installment[column] | currency: 'BRL' }}
                </span>
              }
              @else {
                {{ getValueLabel(column, installment[column]) }}
              }
            </td>

      }
          <td class="actions-container">
            <div class="d-flex justify-content-center flex-row gap-2">
              <button
                id="btn-edit"
                data-testid="btn-edit"
                aria-label="Botão de editar"
                class="btn btn-warning"
                title="Editar"
                (click)="openEditModal(installment)"
              >
                <i class="bi bi-pencil-fill" aria-hidden="true"> </i>
              </button>

              <button
                id="btn-refund"
                data-testid="btn-refund"
                aria-label="Botão de botão de estornar parcela"
                class="btn btn-danger"
                title="Estornar"
                (click)="openRefundModal(installment)"
              >
                <i class="bi bi-arrow-counterclockwise" aria-hidden="true"> </i>
              </button>

              <button
                id="btn-pay"
                data-testid="btn-pay"
                aria-label="Botão de botão de pagar"
                class="btn btn-send"
                title="Pagar"
                (click)="openPayModal(installment)"
              >
                <i class="bi bi-coin" aria-hidden="true"> </i>
              </button>
            </div>
          </td>
        </tr>
      }
      </tbody>

    </table>
  }

</div>

<ng-template #formEditTemplate>
  <zen-update-debt-installment-form id="form-edit-debt-installment" [dataDebtInstallment]="installment" />
</ng-template>

<ng-template #refundTemplate>
  <zen-refund-template id="form-refund-debt-installment" />
</ng-template>

<ng-template #formPayTemplate>
  <zen-pay-debt-installment-form id="form-pay-debt-installment" [dataDebtInstallment]="installment" />
</ng-template>
