<div class="main-layout" [ngClass]="{ backdrop: isActiveBar }">
  <div class="sidenav-placeholder {{ isActiveBar ? 'isActive' : '' }}"></div>
  <div
    class="shadow sidenav flex-shrink-0 p-4 {{ isActiveBar ? 'isActive' : '' }}"
  >
    <a
      href="/"
      class="d-flex justify-content-center align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none"
    >
      <img
        ngSrc="./images/money-bag.png"
        width="60"
        height="60"
        alt="Zenvus Logo"
      />
    </a>
    <div
      class="box-button position-absolute"
      style="top: 15px !important; right: 15px !important"
    ></div>

    <ul class="list-unstyled ps-0">
      @for (item of navData; track $index) {
        <zen-sidenav-menu-item
          [label]="item.label"
          [path]="item.path"
          [classIcon]="item.classIcon"
          [menuItems]="item.items ? item.items : null"
        />
      }
    </ul>
  </div>
  <main>
    <header>
      <div class="w-100 d-flex flex-column-reverse content-wrapper">
        <div>
          @if (isInitialPage) {
            <h6 class="none">
              {{ headerTitle }}
              <div class="neg">{{ headerDescription }}</div>
            </h6>
          }
          @if (headerTitle && headerDescription && !isInitialPage) {
            <div class="text none">
              <h2>{{ headerTitle }}</h2>
              <span>{{ headerDescription }}</span>
            </div>
          }
        </div>

        <div class="w-100 justify-content-between d-flex">
          <div class="box-button">
            <button
              class="button-bar"
              (click)="isActiveBar ? closeSideBar() : openSideBar()"
            >
              <i class="bi bi-list"></i>
            </button>
          </div>

          <div class="icones d-flex">
            <a class="icone-notificacoes" routerLink="/notificacoes/pendentes">
              <i class="bi bi-bell-fill icone"></i>
            </a>
            <button (click)="dropdownMenu()" class="profile">
              <div class="image">
                @if (imageUrl) {
                  <img [src]="imageUrl" alt="Foto do Usuário"/>
                }
              </div>
            </button>
          </div>

          @if (isDropdownOpen) {
            <div class="menuNavbar" [ngClass]="animationClass">
              <div class="drop">
                <div class="photo">
                  <div class="photocircle">
                    @if (imageUrl) {
                      <img [src]="imageUrl" alt="Foto do Usuário"/>
                    }
                  </div>
                  <input
                    type="file"
                    #fileInput
                    style="display: none"
                  />
                  <div class="context">
                    <span class="title">{{ this.name }}</span>
                    <span class="description">{{ 'categoria' }}</span>
                  </div>
                </div>
                <div class="itens">
                  <div class="confs">
                    <a href="conta/usuario"><i class="bi bi-person"></i>Conta</a>
                  </div>
                  <div class="confs">
                    <a href=""><i class="bi bi-gear teste"></i>Configurações</a>
                  </div>
                  <div class="confs">
                    <a href="" (click)="logout()">
                      <i class="bi bi-box-arrow-in-left"></i>
                      Sair
                    </a>
                  </div>
                </div>
              </div>
              <div class="dark-mode">
                <span><i class="bi bi-moon"></i>Mudar tema</span>
                <label class="switch">
                  <input type="checkbox" (click)="toggleDarkMode($event)" (keydown)="toggleDarkMode($event)"/>
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          }
        </div>
      </div>
    </header>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>

  <div
    class="backdrop"
    [ngClass]="{ backdropActive: isActiveBar }"
    (click)="closeSideBar()"
    (keydown)="closeSideBar()"
  ></div>
</div>

