@use 'variables' as *;
@use "sass:color";

$success-color: #188150;
$danger-color: #d73443;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
}

.modal-container {
  background: var(--background-secondary-color);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-in-out;
}

.modal-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  font-size: 50px;
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
}

.success-icon {
  color: var(--success-color);
}

.error-icon {
  color: var(--danger-color);
}

.warning-icon {
  color: var(--warning-color);
}

.info-icon {
  color: var(--info-color);
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer button {
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  flex: 1;
  max-width: 150px;
  height: 46px;
  font-size: 14px;
}

.confirm-button {
  background: var(--success-color);
  color: white;
}

.confirm-button:hover {
  background: color.adjust($success-color, $lightness: -5%);
}

.cancel-button {
  background: var(--darger-color);
  color: white;
}

.cancel-button:hover {
  background: color.adjust($danger-color, $lightness: -5%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
