<form class="update-form" id="form-update-expense" action="javascript:void(0)" [formGroup]="updateExpenseForm"
      aria-labelledby="form-update-expense-title">
  <h2 id="form-update-expense-title" class="visually-hidden">Atualizar Despesa</h2>

  <zen-input
    id="input-description"
    label="Descrição:"
    placeholder="Digite a descrição"
    formControlName="description"
    [inputId]="'input-description'"
    [showMandatory]="true"
  />

  <zen-date-input
    id="input-date"
    label="Data:"
    placeholder="Informe uma data"
    formControlName="date"
    [inputId]="'input-date'"
    [showMandatory]="true"
  />

  <zen-select-input
    id="input-category"
    label="Categoria:"
    placeholder="Selecione uma categoria"
    formControlName="categoryId"
    [options]="categoriesOptions"
    [dropdownId]="'select-category'"
    [showMandatory]="true"
  />

  <zen-select-input
    id="select-type"
    label="Tipo:"
    placeholder="Selecione um tipo"
    formControlName="type"
    [options]="options().typesOptions"
    [dropdownId]="'select-type'"
    [showMandatory]="true"
  />

  <zen-money-input
    id="input-amount"
    label="Valor:"
    placeholder="Digite o valor"
    formControlName="amount"
    [inputId]="'input-amount'"
    [showMandatory]="true"
  />


  <zen-select-input
    id="select-is-installments"
    label="Parcelado:"
    placeholder="Selecione um valor"
    formControlName="isInstallment"
    [options]="options().isInstallmentsOptions"
    [dropdownId]="'select-is-installments'"
    [showMandatory]="true"
    (valueChange)="isInstallmentsChange($event)"
  />
  @if (isInstallments()) {
    <zen-input
      id="input-total-installments"
      label="Quantidade de parcela:"
      placeholder="Número de parcelas"
      formControlName="totalInstallments"
      [inputId]="'input-total-installments'"
      [showMandatory]="false"
    />

    <zen-date-input
      id="input-first-due-date"
      label="Data:"
      placeholder="Informe a data da primeira parcela"
      formControlName="firstDueDate"
      [inputId]="'input-first-due-date'"
      [showMandatory]="false"
    />
  }


  <div class="footer-modal">
    <zen-button
      id="button-fechar"
      variant="danger"
      width="100px"
      (click)="onCloseModal()"
      (keyup)="onCloseModal()"
      aria-label="Fechar o formulário"
      [buttonId]="'button-fechar'"
    >
      Fechar
    </zen-button>
    <zen-button
      id="button-salvar"
      width="100px"
      [disabled]="updateExpenseForm.invalid"
      [isLoading]="isLoading"
      (click)="updateExpense()"
      (keyup)="updateExpense()"
      aria-label="Salvar a despesa"
      [buttonId]="'button-salvar'"
    >
      Salvar
    </zen-button>
  </div>
</form>
