@use '../../../../../styles/variables' as *;

input[type="password"]::placeholder {
  transform: translateY(0.2rem);
}

.password-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
  cursor: pointer;
  color: var(--text-gray-color);
  background: transparent;
  border: none;
}
