<div>
  <label
  [attr.for]="inputId"
  class="input-label"
  [ngClass]="borderClass"
>{{ label() }}</label>
  <div class="input-wrapper"
       [class]="{
      'is-focused': focus,
      'is-valid': isValid(),
      'is-invalid': isInvalid() && focus,
    }">
<input
  class="input"
  [type]="isPasswordVisible ? 'text' : 'password'"
  [id]="inputId"
  [attr.aria-label]="ariaLabel() || label()"
  [attr.aria-required]="required()"
  [attr.aria-describedby]="errorMessages() ? errorId : null"
  [placeholder]="placeholder()"
  [disabled]="isDisabled()"
  [value]="value"
  (input)="onInput($event)"
  (blur)="markAsTouched()"
/>

<button type="button" class="password-icon" (click)="togglePasswordVisibility()">
  <i class="bi bi-eye" [class]="isPasswordVisible ? '-slash' : ''"></i>
</button>

</div>
@if (errorMessages()?.length) {
  <ul class="error-messages">
    @for (msg of errorMessages(); track $index) {
      <li class="error-message" [ngClass]="borderClass">
        <i class="bi bi-x-circle-fill"></i>
        <p [innerHTML]="msg"></p>
      </li>
    }
  </ul>
}
</div>
