<div class="filter" id="{{ filterId || 'default-filter' }}" [ngClass]="{ 'align-right': alignRight }">
  <!-- Toggle Mobile -->
  @if (enableMobileToggle && isMobile) {
    <button
      type="button"
      class="mobile-filter-toggle"
      (click)="toggleMobileFilter()"
      [attr.aria-expanded]="showMobileFilter"
      aria-label="Toggle filtros mobile"
    >
      <span class="mobile-filter-toggle__title">Filtros</span>
      <i class="bi" [ngClass]="showMobileFilter ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </button>
  }

  <div
    class="inputs-container"
    [ngClass]="{
      'mobile-hidden': enableMobileToggle && isMobile && !showMobileFilter,
      'mobile-visible': enableMobileToggle && isMobile && showMobileFilter
    }"
  >
    <div class="filter-content">
      <ng-content></ng-content>
    </div>

    <div class="actions-container" [class.is-mobile]="isMobile">
      @if (showSearchFilter) {
        <button
          id="{{ filterId || 'default-filter' }}-search-button"
          class="search-button"
          [class.is-mobile]="isMobile"
          (click)="onFilterAction()"
          [disabled]="disabled"
        >
          @if (isLoadingFilter) {
            <zen-spinner />
          } @else if (isMobile) {
            <span>Buscar</span>
          } @else {
            <i class="bi bi-search"></i>
          }
        </button>
      }
      @if (showClearadd) {
        <button
          id="{{ filterId || 'default-filter' }}-add-button"
          class="add-button"
          (click)="onAddAction()"
          [disabled]="disabledAdd || isLoadingAdd"
          [attr.aria-label]="'Adicionar novo item'"
        >
          @if (isLoadingAdd) {
            <zen-spinner />
          } @else {
            <img src="add.svg" alt="Adicionar" class="add-icon">
          }
        </button>
      }

      @if (showClearFilter) {
        <button
          id="{{ filterId || 'default-filter' }}-clear-button"
          class="clear-button clearbutton"
          [class.is-mobile]="isMobile"
          (click)="onFilterClearedAction()"
        >
          Limpar filtros
          @if (isLoadingClearFilter) {
            <zen-spinner />
          }
        </button>
      }
    </div>
  </div>
</div>
