// Colors
$primaryColor: #B90504;
$secondaryColor: #970100;
$textPrimaryColor: #333333;
$textSecondaryColor: #e2e4e7;
$textGrayColor: #6c757d;
$textLightGrayColor: #97a9b0;
$backgroundColor: #c9c9c9;
$positiveColor: #0d6dfb;
$successColor: #188150;
$warningColor: #F89406;
$dangerColor: #d73443;


// Fonts
$primaryFont: 'Open Sans';
$brandFont: 'Monoton';
