// Colors
$primaryColor: #B90504;
$secondaryColor: #970100;
$textPrimaryColor: #333333;
$textSecondaryColor: #e2e4e7;
$textGrayColor: #6c757d;
$backgroundColor: #c9c9c9;
$positiveColor: #0d6dfb;
$successColor: #188150;
$warningColor: #FFC107;
$dangerColor: #d73443;


// Fonts
$primaryFont: 'Open Sans';
$brandFont: 'Monoton';
