// Colors
$primaryColor: #B90504;
$secondaryColor: #970100;

$textPrimaryColor: #3A3A3A;
$textSecondaryColor: #909090;

$textGrayColor: #909090;
$textLightGrayColor: #97a9b0;

$backgroundPrimaryColor: #f9fcfa;
$backgroundSecondaryColor: #ffffff;
$backgroundColor: #c9c9c9;

$positiveColor: #0d6dfb;
$successColor: #188150;
$warningColor: #F89406;
$dangerColor: #d73443;
$borderColor: #DEE2E6;

body.dark-theme {
  $chevronColor: rgba(255, 255, 255, 0.7);
  $textPrimaryColor: #f1f1f1;
  $textSecondaryColor: #bdbdbd;
  $backgroundPrimaryColor: #1e1e1e;
  $backgroundSecondaryColor: #2a2a2a;
}


// Fonts
$primaryFont: 'Open Sans';
$brandFont: 'Monoton';
