@use 'variables' as *;

.fieldset-input {
  outline: none;
  border: none;
  width: 100%;
  position: relative;
  transition: all 0.500ms ease;

  .input-label {
    color: $textGrayColor;
    font: {
      size: 14px;
      style: normal;
      weight: 400;
    }
    line-height: normal;

    margin-bottom: 0.2rem;
    margin-left: 4px;
    transition: all 0.500ms ease;
  }

  input {
    display: flex;
    width: 100%;
    padding: 9px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 6px;
    border: 1px solid $borderColor;
    background: #FFF;

    font: {
      size: 14px;
      style: normal;
      weight: 400;
    }

    transition: all 0.500ms ease;

    &::placeholder {
      display: flex;
      align-items: center;
      gap: 4px;
      flex: 1 0 0;
      color: $textLightGrayColor;

      font: {
        size: 16px;
        style: normal;
        weight: 400;
      }

      line-height: 150%;
    }

    &:focus {
      border: 1px solid $positiveColor;
      box-shadow: 0 0 0 3px rgba(102, 16, 242, 0.15);
      outline: none;
    }

    &.input-valid {
      border-color: $successColor;
    }

    &.input-invalid:not(:focus) {
      border: 1px solid $dangerColor;
      box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.20);
    }
  }

  .error-messages {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    gap: 0.3rem;
    list-style: none;
    transition: all 0.500ms ease;

    .error-message {
      display: flex;
      gap: 4px;
      font-size: 10px;
      font-weight: 600;
      margin-left: 4px;

      &.input-valid {
        color: $successColor;
      }

      &.input-invalid {
        color: $dangerColor;
      }
    }
  }
}
