<div class="box-input" [class.fixedSize]="fixedSize" [ngClass]="variant">
  <label [for]="inputId" class="form-label">
    {{ labelSignal() }}
    @if (showMandatory) {
      <span class="mandatory">*</span>
    }
  </label>
  <div
    class="input-wrapper"
    [ngClass]="{ 'is-invalid': hasError, 'custom-input': icon, focused: focus }"
  >
    @if (icon) {
      <span
        class="input-group-text icone"
        id="{{ inputId }}-icon-addon"
      >
      <i class="bi bi-person-fill custom-person"></i>
    </span>
    }
    <input
      matInput
      id="{{ inputId }}"
      [type]="type"
      (input)="onInputChange($event)"
      (blur)="onInputBlur()"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [disabled]="isDisable"
      [readOnly]="readonly"
      class="clear"
      [mask]="mask"
    />
    <ngx-colors
      class="suffix"
      matSuffix
      ngx-colors-trigger
      (input)="onInputColorChange($event)"
      (blur)="onInputBlur()"
      [(ngModel)]="value"
    ></ngx-colors>

    @if (showX && value) {
      <button
        id="{{ inputId }}-clear"
        class="clear-input"
        (click)="clearInput($event)"
      >
        &#x2715;
      </button>
    }
  </div>
  @if (errorMessages()?.length) {
    <ul class="error-messages">
      @for (msg of errorMessages(); track $index) {
        <li
          class="error-message"
        >
          <i class="bi bi-x-circle-fill"></i>
          <p [innerHTML]="msg"></p>
        </li>
      }
    </ul>
  }
</div>
