<label
  [attr.for]="inputId"
  class="input-label"
  [ngClass]="borderClass"
>{{ label() }}</label>
<input
  [type]="isPasswordVisible ? 'text' : 'password'"
  [id]="inputId"
  [attr.aria-label]="ariaLabel() || label()"
  [attr.aria-required]="required()"
  [attr.aria-describedby]="errorMessages() ? errorId : null"
  [attr.role]="role()"
  [placeholder]="placeholder()"
  [disabled]="isDisabled()"
  [value]="value"
  (input)="onInput($event)"
  (blur)="markAsTouched()"
  [ngClass]="borderClass"
/>

<span class="password-icon" (click)="togglePasswordVisibility()">
  @if (isPasswordVisible) {
    <i class="bi bi-eye-slash"></i>
  } @else {
    <i class="bi bi-eye"></i>
  }
</span>

@if (errorMessages()?.length) {
  <ul class="error-messages">
    @for (msg of errorMessages(); track $index) {
      <li class="error-message" role="radio" [ngClass]="borderClass">
        <i class="bi bi-x-circle-fill"></i>
        <p [innerHTML]="msg"></p>
      </li>
    }
  </ul>
}
