@use 'variables' as *;

input[type="password"]::placeholder {
  transform: translateY(0.2rem);
}

.password-icon {
  position: absolute;
  right: 1rem;
  top: 2.2rem;

  z-index: 100;
  cursor: pointer;
  color: $textGrayColor;
  background: transparent;
  border: none;
}
