@use 'variables' as *;

:host {
  outline: none;
  border: none;
  width: 100%;
  position: relative;

  .input-label {
    font-size: 14px;
    color: $textPrimaryColor;
    margin-bottom: 10px;
    margin-left: 6px;
  }

  &.input-valid .input-label {
    color: $successColor;
  }

  &.input-invalid .input-label {
    color: $dangerColor;
  }

  input {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center; /* centraliza na vertical */
    justify-content: center; /* centraliza na horizontal */

    font-size: 14px;
    color: $textPrimaryColor;
    border: 1px solid $textGrayColor;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;

    &:focus {
      border-color: $positiveColor;
      box-shadow: 0 0 4px 1px $positiveColor;
      outline: none;
    }

    &.input-valid {
      border-color: $successColor;
    }

    &.input-invalid {
      border-color: $dangerColor;
    }

  }

  input[type="password"]::placeholder {
    transform: translateY(5px);
  }

  .password-icon {
    position: absolute;
    right: 15px;
    top: 30px;

    z-index: 100;
    cursor: pointer;
    color: $textGrayColor;
  }

  .error-messages {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    list-style: none;

    .error-message {
      font-size: 9px;
      font-weight: bold;
      color: $dangerColor;
      margin-left: 10px;
    }
  }
}
